/*Gobal*/
html {
	background-color: #210002;
	color: #DDDDDD;
	font-family: 'Verlag A', 'Verlag B', "Verlag";
	font-weight: 300;
	font-style: normal;
	text-align: center;
	font-size: 20px;
}
body {
	position: relative;
}
h1, h2, h3, h4, h5 {
	text-justify: center;
	color: #ffffff;
	margin: 60px;
}
p{  
	margin-top:-30px;
	color: #ffffff;
}

h1{
	margin-top: 100px;
	margin-bottom: 20px;
}
.hide{
	opacity: 0;
}
/*nav*/
.navbar{
    position: fixed;
	z-index: 10;
	background-color: transparent;
	border-bottom: 2px solid rgba(255,255,255,0.2);
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.navbar-nav{
	color: #fff;
	flex-flow: row;
}
.nav-item{
	margin: 10px;
}

.whoAmI h3{
	margin: -10px;
}

.science .formula-sheet{
	background:url(img/formula.jpg);
	opacity: 0;
	height: 75vh;
	width: 100vw;
	margin-top: -100px; 
	position: absolute;
	animation: appear 1s forwards;
}
@keyframes appear{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 0.1;
	}
}



/* PARALLAX */
.keyart, .keyart_layer {
	height: 100%; 
}

#parallax {
	display: block;
	height: 100vh;
}
#nonparallax {
	display: block;
}
#nonparallax {
	background-image: url('keyart/grayscale_landscape_edited.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100vh;
	width: 100%;
}
.keyart {
	position: relative;
	z-index: 5;
}
.keyart_layer {
	background-position: bottom center;
	background-size: 100% 100%;
	height: 1500px;
	width: 100%;
	position: absolute;
}
.keyart_layer.parallax {
	position: fixed;
	background-size: 100% 100%;
	height: 100%;
	width:100%;
}
#keyart-0{
	background-image: url('keyart_1920x1280/grayscale_1920x1280_layer0.png');
}
#keyart-1 {
	background-image: url('keyart_1920x1280/grayscale_1920x1280_layer1.png');
}
#keyart-2 {
	background-image: url('keyart_1920x1280/grayscale_1920x1280_layer2.png');
}
#keyart-3 {
	background-image: url('keyart_1920x1280/grayscale_1920x1280_layer3.png');
}
#keyart-4 {
	background-image: url('keyart_1920x1280/grayscale_1920x1280_layer4.png');
}
#keyart-5 {
	background-image: url('keyart_1920x1280/grayscale_1920x1280_layer5.png');
}
#keyart-6 {
	background-image: url('keyart_1920x1280/grayscale_1920x1280_layer6.png');
}
#keyart-7 {
	background-image: url('keyart_1920x1280/grayscale_1920x1280_layer7.png');
}
#keyart-8 {
	background-image: url('keyart_1920x1280/grayscale_1920x1280_layer8.png');
}
#keyart-scrim {
	background-color: #ffffff;
    size: 100%;
	opacity: 0;
}
#keyart-9 {
   background-image: url('keyart_1920x1280/grayscale_1920x1280_layer9.png');
}
#keyart-10 {
   background-image: url('keyart_1920x1280/grayscale_1920x1280_layer10.png');
}

/* Maincontain */
.maincontain{
    position: relative;
	height: 6600px;
	top:-18px;
	background: #000000;
	z-index: 6	;
	display: flex;
    flex-flow: column;
	justify-content: flex-start;
	align-items: center;	
}

.whoAmI, .welcome, .science, .web, .sketch{
	padding-top:30vh;
	display: flex;
    flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}
#fire{
	height: 500px;
	width: 500px;
	border-radius: 100%;
	border: solid 50px #101010;
	background-image: url("animation/Fire-Loader.gif");
	background-size: 200%;
	background-position: center;
}

#fire_outer{
	border-radius: 100%;
	border: solid 50px #050505;
	align-items: center;
}
@media (max-width: 600px){
	#fire{
		height: 80vw;
		width: 80vw;
		border-radius: 100%;
		border: solid 20px #101010;
		background-image: url("animation/Fire-Loader.gif");
		background-size: 200%;
		background-position:center;
	}
	#fire_outer{
		border-radius: 100%;
		border: solid 20px #050505;
		
	}
	h1{
		font-size: 30px;
		margin: 10px;
	}
	h2{
		margin-top: 20px;
		font-size: 28px;
	}
	h3{
		margin-top:20px;
		font-size: 22px;
	}
	p{
		margin-top: 10px;
	}
 }
.projects{
	margin-top: 200px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

}
.projects_container{
	margin-top: 200px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 90vw;

	
}
.project_icon{
	background-color: #888888;
	height: 250px;
	width: 250px;
	border: solid 15px #202020;
	border-radius: 100%;
}
.contact{
	margin-top: 200px;
	width: 60vw;
	display: flex;
	flex-flow: column;
	align-items: center;
}
.contact_container{
	margin-top: 150px;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	width: 100%;
}
.contact_item{
	display: grid;
	grid-template-rows: 180px 100px;
	grid-template-columns: 150px;
	height: 300px;
	width: 150px;
	align-items: center;
}
i{
	color: #fff;
	align-items: center;
	justify-self: center;
}
.contact_item p{
	align-items: center;
	justify-self: center;
}
hr {
	margin: 5px;
    width: 50px;
    border:solid #fff;
    border-radius: 10px;
    border-width: 1px;	
}










 
/********************/
/********************/
/* ENABLES PARALLAX */
/********************/
/********************/

@media (min-width: 601px) {

	#nonparallax {
		display: none;
	}
	#parallax {
		display: block;
	}

}

/*********************/
/*********************/
/* DISABLES PARALLAX */
/*********************/
/*********************/

@media (max-width: 600px) {

	#nonparallax {
		display: block;
	}
	#parallax {
		display: none;
	}

	#main {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 70px;
	}

	.section.copyright p {
		font-size: 12px;
		line-height: 20px;
		letter-spacing: 1px;
	}
	.section.companylinks .companies li h1 {
		margin: 20px;
	}


}

/* PARALLAX */

	.keyart, .keyart_layer {
		height: 550px;
	}

	.keyart_layer {
		position: absolute;
		background-size: auto 600px;
	}


/* Banner */
.banner{
	position: absolute;
	display: flex;
	flex-flow: row;
	top: 10vh;
	left: 2vw;
	text-align: centers;
	color: #eeeeee;
	z-index: 15;
}
.banner img{
	display: block;
}
.banner p{
	display: block;
	align-self: flex-end;
	padding: 0 20px;
}
.banner{
	animation: twinkle 3s infinite;
}
@keyframes twinkle{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

/* Arrow */
.arrow{
	position: absolute;
	top:90vh;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	z-index: 15;
}


